.root {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  max-width: 5.75rem;
  width: 100%;
}

.label {
  background-color: inherit;
  white-space: nowrap;
  width: 100%;
  border-width: 1px;
  border-radius: 0.375rem;
  border-color: rgb(88, 96, 100);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.error {
}

.leftRoot {
  padding-right: 1rem;
}

.rightRoot {
  padding-left: 1rem;
}
