.bullet {
  position: absolute;
  height: 4px;
  width: 4px;
  z-index: 10;
  top: -1px;
  background-color: #808080;
  border-radius: 9999px;
  //transition: all 0.3s ease-in-out;
}

.bullet:hover {
  //transform: scale(1.2);
}
